# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/rest-microservices-cart/target
/rest-microservices-country/target
/rest-microservices-volatility-index/target

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.log
